<div class="article-template__comment-wrapper">
	<div id="comments" class="page-width page-width--narrow">
		{%- if article.comments_count > 0 -%}
			{%- assign anchorId = '#Comments-' | append: article.id -%}
			<h2 id="Comments-{{ article.id }}" tabindex="-1">
				{{ 'blogs.article.comments' | t: count: article.comments_count }}
			</h2>
			{% paginate article.comments by 5 %}
				<div class="article-template__comments">
					{%- if comment.status == 'pending' and comment.content -%}
						<article id="{{ comment.id }}" class="article-template__comments-comment">
							{{ comment.content }}
							<footer class="right">
								<span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
							</footer>
						</article>
					{%- endif -%}

					{%- for comment in article.comments -%}
						<article id="{{ comment.id }}" class="article-template__comments-comment">
							{{ comment.content }}
							<footer class="right">
								<span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span
								><span class="caption-with-letter-spacing">
									{{- comment.created_at | time_tag: format: 'date' -}}
								</span>
							</footer>
						</article>
					{%- endfor -%}
					{% render 'pagination', paginate: paginate, anchor: anchorId %}
				</div>
			{% endpaginate %}
		{%- endif -%}
		{% form 'new_comment', article %}
			{%- liquid
				assign post_message = 'blogs.article.success'
				if blog.moderated? and comment.status == 'unapproved'
					assign post_message = 'blogs.article.success_moderated'
				endif
			-%}
			<h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
			{%- if form.errors -%}
				<div class="form__message" role="alert">
					<h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
						{% render 'icon-error' %}
						{{ 'templates.contact.form.error_heading' | t }}
					</h3>
				</div>
				<ul class="form-status-list caption-large">
					{%- for field in form.errors -%}
						<li>
							<a href="#CommentForm-{{ field }}" class="link">
								{%- if form.errors.translated_fields[field] contains 'author' -%}
									{{ 'blogs.article.name' | t }}
								{%- elsif form.errors.translated_fields[field] contains 'body' -%}
									{{ 'blogs.article.message' | t }}
								{%- else -%}
									{{ form.errors.translated_fields[field] }}
								{%- endif -%}
								{{ form.errors.messages[field] }}
							</a>
						</li>
					{%- endfor -%}
				</ul>
			{%- elsif form.posted_successfully? -%}
				<div class="form-status-list form__message" role="status">
					<h3 class="form-status" tabindex="-1" autofocus>
						{% render 'icon-success' %}
						{{ post_message | t }}
					</h3>
				</div>
			{%- endif -%}

			<div
				{% if blog.moderated? == false %}
					class="article-template__comments-fields"
				{% endif %}
			>
				<div class="article-template__comment-fields">
					<div class="field field--with-error">
						<input
							type="text"
							name="comment[author]"
							id="CommentForm-author"
							class="field__input"
							autocomplete="name"
							value="{{ form.author }}"
							aria-required="true"
							required
							{% if form.errors contains 'author' %}
								aria-invalid="true"
								aria-describedby="CommentForm-author-error"
							{% endif %}
							placeholder=" "
						>
						<label class="field__label" for="CommentForm-author">{{ 'blogs.article.name' | t }}</label
						>
						{%- if form.errors contains 'author' -%}
							<small id="CommentForm-author-error">
								<span class="form__message">
									{%- render 'icon-error' -%}
									{{- 'blogs.article.name' | t }}
									{{ form.errors.messages.author }}.</span
								>
							</small>
						{%- endif -%}
					</div>
					<div class="field field--with-error">
						<input
							type="email"
							name="comment[email]"
							id="CommentForm-email"
							autocomplete="email"
							class="field__input"
							value="{{ form.email }}"
							autocorrect="off"
							autocapitalize="off"
							aria-required="true"
							required
							{% if form.errors contains 'email' %}
								aria-invalid="true"
								aria-describedby="CommentForm-email-error"
							{% endif %}
							placeholder=" "
						>
						<label class="field__label" for="CommentForm-email">{{ 'blogs.article.email' | t }}</label
						>
						{%- if form.errors contains 'email' -%}
							<small id="CommentForm-email-error">
								<span class="form__message">
									{%- render 'icon-error' -%}
									{{- 'blogs.article.email' | t }}
									{{ form.errors.messages.email }}.</span
								>
							</small>
						{%- endif -%}
					</div>
				</div>
				<div class="field field--with-error">
					<textarea
						rows="5"
						name="comment[body]"
						id="CommentForm-body"
						class="text-area field__input"
						aria-required="true"
						required
						{% if form.errors contains 'body' %}
							aria-invalid="true"
							aria-describedby="CommentForm-body-error"
						{% endif %}
						placeholder=" "
					>{{ form.body }}</textarea>
					<label class="form__label field__label" for="CommentForm-body">{{ 'blogs.article.message' | t }}</label
					>
				</div>
				{%- if form.errors contains 'body' -%}
					<small id="CommentForm-body-error">
						<span class="form__message">
							{%- render 'icon-error' -%}
							{{- 'blogs.article.message' | t }}
							{{ form.errors.messages.body }}.</span
						>
					</small>
				{%- endif -%}
			</div>
			{%- if blog.moderated? -%}
				<p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
			{%- endif -%}
			<button type="submit" class="button button--primary button--primary-size">
				{{ 'blogs.article.post' | t }}
				<span>
					{% render 'icon-button-arrow' %}
				</span>
			</button>
		{% endform %}
	</div>
</div>