{% comment %}
	Renders a small article card for a given blog with settings to either show the image or not.

	Accepts:
	- blog: {Object} Blog object
	- article: {Object} Article object
	- show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
	- show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
	- show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default

	Usage:
{% render 'article-card-small' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

<article class="article-card-small{% if article.image == blank or show_image == false %} article-card-small--no-image{% endif %}" aria-labelledby="Article-{{ article.id }}" aria-label="Article-{{ article.id }}">
	<div class="article-small-content motion-reduce">
		
		<div class="article-card-small__info">
			<header class="article-card-small__header">

				<h2 class="article-card-small__title h5" id="Article-{{ article.id }}">
					<a href="{{ article.url }}">{{ article.title | escape }}{% render 'icon-button-arrow' %}</a>
				</h2>
				{%- if show_date or show_author -%}
					<div class="article-card-small__meta">
						{%- if show_date -%}
							<span class="line-divider">
							{{- article.published_at | time_tag: format: 'month_year' -}}
						</span>
						{%- endif -%}
						{%- if show_author -%}
							<span class="article-card-small__author line-divider">by<span>{{- article.author -}}</span></span>
						{%- endif -%}

					</div>
				{%- endif -%}
			</header>
		</div>

		{%- if show_image == true and article.image != blank -%}
			<div class="article-card-small__image-wrapper">
				<div class="article-card-small__image media">
					<img srcset="
						{%- if article.image.src.width >= 165 -%}{{ article.image.src | img_url: '165x' }} 165w,{%- endif -%}
						{%- if article.image.src.width >= 360 -%}{{ article.image.src | img_url: '360x' }} 360w,{%- endif -%}
						{%- if article.image.src.width >= 533 -%}{{ article.image.src | img_url: '533x' }} 533w,{%- endif -%}
						{%- if article.image.src.width >= 720 -%}{{ article.image.src | img_url: '720x' }} 720w,{%- endif -%}
						{%- if article.image.src.width >= 940 -%}{{ article.image.src | img_url: '940x' }} 940w,{%- endif -%}
						{%- if article.image.src.width >= 1066 -%}{{ article.image.src | img_url: '1066x' }} 1066w{%- endif -%}"
							 src="{{ article.image.src | img_url: '533x' }}"
							 sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
							 alt="{{ article.image.src.alt | escape }}"
							 width="{{ article.image.width }}"
							 height="{{ article.image.height }}"
							 loading="lazy"
							 class="motion-reduce"
					>
				</div>
			</div>
		{%- endif -%}

		<a class="article-card-small-link" href="{{ article.url }}" aria-label="{{ "accessibility.article_link" | t }}"></a>
	</div>
</article>

