{% unless
  template == 'index' or
  template == 'article' or
  template == 'collection' or
  template == 'customers/login' or
  template == 'customers/register' or
  template == 'product' or 
  template == 'search' or 
  template == 'page.contact' or 
  template == '404' %}
  <div class="container">
    <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
      <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home' | t }}" class="link-hover-line">{{ 'general.breadcrumbs.home' | t}}</a>
      {% if template contains 'page' %}
        <div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
        <span>{{ page.title }}
        </span>
      {% elsif template contains 'product' %}
        <div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
        {% if product.collections[0] %}
          <a href="{{ product.collections[0].url }}">{{ product.collections[0].title }}
          </a>
          <div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
        {% endif %}
        <span>{{ product.title }}
        </span>
      {% elsif template contains 'collection' and collection.handle %}
        <div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
        {% if current_tags %}
          {% capture url %}/collections/{{ collection.handle }}
          {% endcapture %}
          {{ collection.title | link_to: url }}
          <div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
          <span>{{ current_tags | join: " + " }}
          </span>
        {% else %}
          <span>{{ collection.title }}
          </span>
        {% endif %}
      {% elsif template == 'blog' %}
        <div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
        {% if current_tags %}
          {{ blog.title | link_to: blog.url }}
          <div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
          <span>{{ current_tags | join: " + " }}
          </span>
        {% else %}
          <span>{{ blog.title }}
          </span>
        {% endif %}
      {% elsif template == 'customers/order' %}
        <div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
        <a href='{{ routes.account_url }}'>{{ 'customer.account.title' | t }}
        </a>
        <div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
        <span>{{ order.name }}
        </span>
      {% elsif template == 'customers/addresses' %}
        <div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
        <a href='{{ routes.account_url }}'>{{ 'customer.account.title' | t }}
        </a>
        <div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
        <span>{{ 'customer.addresses.title' | t }}
        </span>
      {% else %}
        <div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
        <span>{{ page_title }}
        </span>
      {% endif %}
    </nav> 
  </div>
{% endunless %}