<script src="{{ 'announcement.js' | asset_url }}" defer="defer"></script>

<style>
   :root {
  	--announcement-height: 40px;
   }
  @media screen and (min-width: 576px) {
  	:root {
  		--announcement-height: {{ section.settings.height }}px;
  	}
  }
</style>

<div
  class="announcement-bar {% if section.settings.color_scheme == "light" %}announcement-bar-light color-background-2{% elsif section.settings.color_scheme == 'dark' %}announcement-bar-dark color-background-4{% endif %}"
  role="region"
  aria-label="{{ 'sections.header.announcement' | t }}"
  {{ block.shopify_attributes }}
>
  <div class="announcement-bar__box">
    <div class="announcement-bar__message">
      <div class="announcement-bar__text">
        {{ section.settings.text }}
      </div>
    </div>
  </div>

  <div
    class="announcement-bar__slide"
    data-announcement-speed="{{ section.settings.announcement_speed }}"
    data-announcement-id="{{ section.id }}"
  >
    <div class="swiper container announcement-js-{{ section.id }}">
      <div class="swiper-wrapper">
        {%- if section.settings.text != blank -%}
          {% for i in (1..10) %}
            <div class="swiper-slide">
              <div class="announcement-bar__text announcement__title">
                <div class="announcement__item">
                  {{ section.settings.text }}
                </div>
              </div>
            </div>
          {% endfor %}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "class": "section-announcement",
  "settings": [
    {
      "type": "range",
      "id": "height",
      "min": 40,
      "max": 100,
      "step": 5,
      "default": 40,
      "label": "t:sections.announcement-bar.settings.height.label",
      "info": "t:sections.announcement-bar.settings.height.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label",
      "default": "dark",
      "options": [
        {
          "value": "light",
          "label": "t:sections.all.color_scheme.light.label"
        },
        {
          "value": "dark",
          "label": "t:sections.all.color_scheme.dark.label"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>For example, a test of the announcement of some news</p>",
      "label": "t:sections.announcement-bar.settings.text.label"
    },
    {
      "type": "range",
      "id": "announcement_speed",
      "min": 0,
      "max": 16,
      "step": 0.5,
      "default": 5,
      "unit": "s",
      "label": "t:sections.announcement-bar.settings.ticker_speed.label",
      "info": "t:sections.announcement-bar.settings.ticker_speed.info"
    }
  ],
  "default": {
    "settings": {
      "text": "<p>For example, a test of the announcement of some news</p>",
      "color_scheme": "dark"
    }
  }
}
{% endschema %}
