{{ 'section-blockqoute.css' | asset_url | stylesheet_tag }}

{%- style -%}
	{% render 'spaced-section' %}
	{% render 'spaced-section-inner' %}
{%- endstyle -%}

<div class="blockqoute section-{{ section.id }}-padding">
	<div class="container">
		<div class="blockqoute__wrapper{% if section.settings.image == blank %} blockqoute__wrapper-flex{%- endif -%}">
			{%- if section.settings.image != blank -%}
				<div class="blockqoute__image image-position-{{ section.settings.image_position }}">
					<div class="blockqoute__image__block">
						{% assign image_height = section.settings.image.width
							| divided_by: section.settings.image.aspect_ratio
						%}
						{%- capture style -%}
								object-fit: {{ section.settings.object_fit }};
						{%- endcapture -%}
						{{
							section.settings.image
							| image_url: width: 3840
							| image_tag:
								loading: 'lazy',
								width: section.settings.image.width,
								height: image_height,
								sizes: '100vw, (min-width: 1023px) 50vw',
								widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
								style: style
						}}
					</div>
				</div>
			{%- endif -%}

			<div class="blockqoute__box">
				<div class="blockqoute__block">
					{%- if section.settings.text != blank -%}
						<h2 class="blockqoute__box-text h2">
							<span class="blockqoute__box-text__elem h1">“</span>
							{{ section.settings.text }}
						</h2>
					{%- endif -%}

					{%- if section.settings.author_position != blank -%}
						<div class="blockqoute__box-author__position subtitle">
							{{ section.settings.author_position }}
						</div>
					{%- endif -%}
					{%- if section.settings.author_name != blank -%}
						<div class="blockqoute__box-author__name">
							{{ section.settings.author_name }}
						</div>
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
</div>
{% schema %}
{
	"name": "t:sections.blockqoute.name",
	"class": "spaced-section blockqoute-section",
	"tag": "section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "header",
			"content": "t:sections.all.image.header.content"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:sections.all.image.label"
		},
		{
			"type": "select",
			"id": "image_position",
			"options": [
				{
					"value": "left",
					"label": "t:sections.all.image.position.left.label"
				},
				{
					"value": "right",
					"label": "t:sections.all.image.position.right.label"
				}
			],
			"default": "left",
			"label": "t:sections.all.image.position.label"
		},
		{
			"type": "select",
			"id": "object_fit",
			"options": [
				{
					"value": "contain",
					"label": "t:sections.all.image.fit.options__1.label"
				},
				{
					"value": "cover",
					"label": "t:sections.all.image.fit.options__2.label"
				}
			],
			"default": "cover",
			"label": "t:sections.all.image.fit.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.heading.header.content"
		},
		{
			"type": "inline_richtext",
			"id": "text",
			"default": "Heading",
			"label": "t:sections.all.heading.label"
		},

		{
			"type": "header",
			"content": "t:sections.all.author.header.content"
		},
		{
			"type": "text",
			"id": "author_position",
			"default": "Author position",
			"label": "t:sections.all.author.author_position.label"
		},
		{
			"type": "text",
			"id": "author_name",
			"default": "Author name",
			"label": "t:sections.all.author.author_name.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section_margin.header.content"
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 20,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_top.label"
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 20,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.blockqoute.name"
		}
	]
}
{% endschema %}
