{{ 'section-categories-list.css' | asset_url | stylesheet_tag }}
<script src="{{ 'categories-list.js' | asset_url }}" defer="defer"></script>
{% style %}
	{% render 'spaced-section' %}
	{% render 'spaced-section-inner' %}
	#shopify-section-{{ section.id }} .categories-list{
			--category-list-color: rgba(var(--color-foreground-title), {{ section.settings.collection_title_opacity }}%);
			--category-list-color-overlay: rgba(var(--color-overlay), {{ section.settings.overlay_opacity }}%);
		}
{% endstyle %}

<div class="categories-list color-background-4 section-{{ section.id }}-padding {% if section.settings.overlay_enable %}have-overlay{% endif %}">
	<div class="container">
		<div class="categories-list__wrapper">
			{%- if section.settings.section_background != blank -%}
				{% assign image_height = section.settings.image.width
					| divided_by: section.settings.image.aspect_ratio
				%}
				{% assign image_width = section.settings.section_background.width %}
				<div class="category-list__bg">
					{{
						section.settings.section_background
						| image_url: width: 3840
						| image_tag:
							loading: 'lazy',
							width: image_width,
							height: image_height,
							sizes: '100vw',
							widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
					}}
				</div>
			{% endif %}
			{% if section.settings.subheading != blank %}
				<div class="category-list__subtitle subtitle">
					{{ section.settings.subheading }}
				</div>
			{% endif %}
			<ul class="category-list__list">
				{%- for block in section.blocks -%}
					<li class="{% if forloop.index > 1 %}opacity {% else %}active{% endif %}">
						<h2 class="category-list__title h1">
							<a
								{% if block.settings.collection != blank %}
									href="{{ block.settings.collection.url }}"
								{% endif %}
								{{ block.shopify_attributes }}
							>
								{% if block.settings.collection != blank %}
									{{ block.settings.collection.title }}
								{% else %}
									{{- 'general.card.collection_name' | t -}}
								{% endif %}
							</a>
						</h2>
						{% if block.settings.collection_image != blank
							or block.settings.collection.image != blank
						%}
							<div class="category-list__img">
								{% liquid
									if block.settings.collection_image != blank
										assign collectionImg = block.settings.collection_image
									elsif block.settings.collection.image != blank
										assign collectionImg = block.settings.collection.image
									endif
									assign image_height = collectionImg.width | divided_by: collectionImg.aspect_ratio
									assign image_width = collectionImg.width
								%}
								{{
									collectionImg
									| image_url: width: 3840
									| image_tag:
										loading: 'lazy',
										width: image_width,
										height: image_height,
										sizes: '100vw',
										widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
								}}
							</div>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.categories-list.name",
	"tag": "section",
	"class": "categories-list-section spaced-section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "text",
			"id": "subheading",
			"label": "t:sections.all.subheading.label",
			"default": "Subheading"
		},
		{
			"type": "image_picker",
			"id": "section_background",
			"label": "t:sections.all.image.label"
		},
		{
			"type": "range",
			"id": "collection_title_opacity",
			"min": 10,
			"max": 90,
			"default": 40,
			"unit": "%",
			"label": "t:sections.categories-list.settings.range.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.overlay.header.content"
		},
		{
			"type": "checkbox",
			"id": "overlay_enable",
			"default": true,
			"label": "t:sections.all.overlay.overlay_enable.label"
		},
		{
			"type": "range",
			"id": "overlay_opacity",
			"min": 10,
			"max": 90,
			"default": 20,
			"unit": "%",
			"label": "t:sections.all.overlay.overlay_opacity.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section_padding.header.content"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 100,
			"unit": "px",
			"label": "t:sections.all.section_padding.padding_top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 100,
			"unit": "px",
			"label": "t:sections.all.section_padding.padding_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section_margin.header.content"
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 100,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_top.label"
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 100,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_bottom.label"
		}
	],
	"blocks": [
		{
			"type": "categories",
			"name": "t:sections.categories-list.blocks.categories.name",
			"settings": [
				{
					"type": "collection",
					"id": "collection",
					"label": "t:sections.all.collection.label"
				},
				{
					"type": "image_picker",
					"id": "collection_image",
					"label": "t:sections.categories-list.blocks.categories.settings.image.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.categories-list.presets.name",
			"blocks": [
				{
					"type": "categories"
				},
				{
					"type": "categories"
				},
				{
					"type": "categories"
				}
			]
		}
	]
}
{% endschema %}
