{{ 'twentytwenty.css' | asset_url | stylesheet_tag }}
{{ 'section-compare.css' | asset_url | stylesheet_tag }}

<script src="{{ 'jquery.event.move.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'jquery.twentytwenty.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'compare.js' | asset_url }}" defer="defer"></script>

{% style %}
	{% render 'spaced-section' %}
	{% render 'spaced-section-inner' %}
{% endstyle %}

<div class="compare section-{{ section.id }}-padding {% if section.settings.enable_border_top %}section_border_top{% endif %} {% if section.settings.enable_border_bottom %}section_border_bottom{% endif %}">
	<div class="compare__wrapper">
		{% render 'section-header' %}

		<div class="compare__box">
			<div class="container">
				<div class="compare__block">
					<div class="compare__slayd__wrapper image-position-{{ section.settings.image_position }}">
						<div class="compare__slayd">
							{%- if section.settings.image_before != blank
								and section.settings.image_after != blank
							-%}
								<div class="twentytwenty-wrapper twentytwenty-horizontal">
									<div class="twentytwenty-container">
										{{
											section.settings.image_before
											| image_url: width: 3840
											| image_tag:
												loading: 'lazy',
												widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
										}}
										{{
											section.settings.image_after
											| image_url: width: 3840
											| image_tag:
												loading: 'lazy',
												widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
										}}
									</div>
								</div>
							{%- else -%}
								<div class="compare__defoult">
									{{
										'product-1'
										| placeholder_svg_tag: 'placeholder-svg placeholder'
									}}
									{{
										'product-2'
										| placeholder_svg_tag: 'placeholder-svg placeholder'
									}}
								</div>
							{%- endif -%}
						</div>
					</div>

					{% if section.settings.product != blank %}
						<div class="compare__product collection-product-card {% if settings.quickview_hover %}quickview--hover{% endif %}">
							{% render 'product-card',
								product_card_product: section.settings.product,
								media_size: section.settings.image_ratio,
								media_fit: section.settings.image_fit,
								show_secondary_image: section.settings.show_secondary_image,
								show_vendor: section.settings.show_vendor,
								show_desc: section.settings.show_desc,
								section_id: section.id
							%}
						</div>
					{%- else -%}
						<div class="compare__product collection-product-card">
							{% render 'product-card-placeholder', media_size: 'square' %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.compare.name",
	"tag": "section",
	"class": "compare-section spaced-section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "text",
			"id": "subheading",
			"default": "new arrivals",
			"label": "t:sections.all.subheading.label"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"default": "Check out our new items",
			"label": "t:sections.all.heading.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.button.header.content"
		},
		{
			"type": "text",
			"id": "button_label",
			"default": "shop new arrivals",
			"label": "t:sections.all.button.label.label"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "t:sections.all.button.link.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.image.header.content"
		},
		{
			"type": "select",
			"id": "image_position",
			"options": [
				{
					"value": "left",
					"label": "t:sections.all.image.position.left.label"
				},
				{
					"value": "right",
					"label": "t:sections.all.image.position.right.label"
				}
			],
			"default": "left",
			"label": "t:sections.all.image.position.label"
		},
		{
			"type": "image_picker",
			"id": "image_before",
			"label": "t:sections.compare.settings.image_before.label",
			"info": "t:sections.compare.settings.image_before.info"
		},
		{
			"type": "image_picker",
			"id": "image_after",
			"label": "t:sections.compare.settings.image_after.label",
			"info": "t:sections.compare.settings.image_before.info"
		},
		{
			"type": "product",
			"id": "product",
			"label": "t:sections.all.product_card.product.label"
		},
		{
			"type": "header",
			"content": "t:sections.product-recommendations.settings.header__2.content"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"options": [
				{
					"value": "landscape",
					"label": "t:sections.all.image.ratio.options__1.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.all.image.ratio.options__2.label"
				},
				{
					"value": "square",
					"label": "t:sections.all.image.ratio.options__3.label"
				}
			],
			"default": "portrait",
			"label": "t:sections.all.image.ratio.label"
		},
		{
			"type": "select",
			"id": "image_fit",
			"label": "t:sections.all.image.fit.label",
			"options": [
				{
					"value": "contain",
					"label": "t:sections.all.image.fit.options__1.label"
				},
				{
					"value": "cover",
					"label": "t:sections.all.image.fit.options__2.label"
				}
			],
			"default": "cover"
		},
		{
			"type": "checkbox",
			"id": "show_secondary_image",
			"default": false,
			"label": "t:sections.all.product_card.show_secondary_image.label"
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"default": true,
			"label": "t:sections.all.product_card.show_vendor.label"
		},
		{
			"type": "checkbox",
			"id": "show_desc",
			"default": false,
			"label": "t:sections.all.product_card.show_description.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section_padding.header.content"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 0,
			"unit": "px",
			"label": "t:sections.all.section_padding.padding_top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 0,
			"unit": "px",
			"label": "t:sections.all.section_padding.padding_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section_margin.header.content"
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 0,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_top.label"
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 80,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.border.header.content"
		},
		{
			"type": "checkbox",
			"id": "enable_border_top",
			"default": false,
			"label": "t:sections.all.border.border_enable_top.label"
		},
		{
			"type": "checkbox",
			"id": "enable_border_bottom",
			"default": false,
			"label": "t:sections.all.border.border_enable_bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.compare.presets.name"
		}
	]
}
{% endschema %}
