{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  {% render 'spaced-section' %}
{%- endstyle -%}

<div class="contact">
  <div class="container contact__wrapper">
    <div class="contact__container">
      {% if section.settings.heading != blank or section.settings.text != blank %}
        <div class="contact__text">
          {%- if section.settings.heading != blank -%}
            <h2 class="contact__title">
              {{ section.settings.heading }}
            </h2>
          {%- endif -%}
          {% if section.settings.text != blank %}
            <p class="contact__desc">{{ section.settings.text | escape }}</p>
          {% endif %}
        </div>
      {% endif %}
      {%- form 'contact', id: 'ContactForm' -%}
        {%- if form.posted_successfully? -%}
          <div class="form-status form-status-list form__message" tabindex="-1" autofocus>
            {% render 'icon-success' %}
            {{ 'templates.contact.form.post_success' | t }}
          </div>
        {%- elsif form.errors -%}
        {%- endif -%}
        <div class="contact__fields">
          <div class="field field__name">
            <input
              class="field__input"
              autocomplete="name"
              type="text"
              id="ContactForm-name"
              name="contact[{{ 'templates.contact.form.name' | t }}]"
              value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
              placeholder=" "
            >
            <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
          </div>
          <div class="field field--with-error">
            <input
              autocomplete="email"
              type="email"
              id="ContactForm-email"
              class="field__input"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="ContactForm-email-error"
              {% endif %}
              placeholder=" "
              required
            >
            <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }}</label>
            {%- if form.errors contains 'email' -%}
              <small class="contact__field-error" id="ContactForm-email-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </span>
              </small>
            {%- endif -%}
          </div>
        </div>
        <div class="field">
          <input
            type="tel"
            id="ContactForm-phone"
            class="field__input"
            autocomplete="tel"
            name="contact[{{ 'templates.contact.form.phone' | t }}]"
            pattern="[0-9\-]*"
            value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
            placeholder=" "
          >
          <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
        </div>
        <div class="field">
          <textarea
            rows="10"
            id="ContactForm-body"
            class="text-area field__input"
            name="contact[{{ 'templates.contact.form.comment' | t }}]"
            placeholder=" "
            aria-required="true"
            required
          >
            {{- form.body -}}
          </textarea>
          <label class="form__label field__label" for="ContactForm-body">
            {{- 'templates.contact.form.comment' | t -}}
          </label>
        </div>
        <div class="contact__bottom">
          <button type="submit" class="button button--primary">
            {{ 'templates.contact.form.send' | t }}
          </button>

          <div class="contact__add-text">
            {{ section.settings.additional_text }}
          </div>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "spaced-section contact-section",
	"enabled_on": {
		"templates": ["*"]
	},
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.all.heading.label",
      "default": "Contact form"
    },
    {
      "type": "textarea",
      "id": "text",
      "default": "Some text for your contact form. You can use multiple lines of text.",
      "label": "t:sections.all.text.label"
    },
    {
      "type": "richtext",
      "id": "additional_text",
      "default": "<p>Additional text for contact form.</p>",
      "label": "t:sections.contact-form.settings.additional_text.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_margin.header.content"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 20,
      "unit": "px",
      "label": "t:sections.all.section_margin.margin_top.label"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 20,
      "unit": "px",
      "label": "t:sections.all.section_margin.margin_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
