{{ 'component-search.css' | asset_url | stylesheet_tag }}
{{ 'template-search.css' | asset_url | stylesheet_tag }}

{%- style -%}
  {% render 'spaced-section' %}
{%- endstyle -%}

<div class="template-404">
  <div class="container">
    <div class="template-search__header__block">
      <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
        <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home' | t }}" class="link-hover-line">
          {{ 'general.breadcrumbs.home' | t }}
        </a>
        <div class="breadcrumb__delimiter">{% render 'icon-breadcrumbs' %}</div>
        <span>{{ page_title }}</span>
      </nav>
      <div class="page-header__block">
        <h1 class="h2 main-page-title page-title title--page">
          {{ 'templates.404.subtext' | t }}. {{ 'templates.404.title' | t }}
        </h1>
      </div>
			<div class="template-search__search">
				<p class="search__form-text">
              {{ 'templates.404.text' | t }}
            </p>
					{%- if settings.predictive_search_enabled -%}
						<predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
					{%- endif -%}
					{%- if  search.performed and search.results_count == 0 and search.filters == empty -%}
						<div class="search-wrapper">
					{% endif %}
						
							
							
					<form action="{{ routes.search_url }}" method="get" role="search" class="search">
						<div class="search__form-inner">
							<div class="field">
								<div class="search__input-wrapper">
								<input
									class="search__input field__input"
									id="Search-In-Template"
									type="search"
									name="q"
									value="{{ search.terms | escape }}"
									placeholder=" "
									{%- if settings.predictive_search_enabled -%}
										role="combobox"
										aria-expanded="false"
										aria-owns="predictive-search-results"
										aria-controls="predictive-search-results"
										aria-haspopup="listbox"
										aria-autocomplete="list"
										autocorrect="off"
										autocomplete="off"
										autocapitalize="off"
										spellcheck="false"
									{%- endif -%}
								>
								<label class="field__label" for="Search-In-Template">{{ 'general.search.search' | t }}</label>
								<button type="reset" class="reser-search">{% render 'icon-close' %}</button>
								<input name="options[prefix]" type="hidden" value="last">
								</div>
								
								<button class="button button--primary" aria-label="{{ 'general.search.search' | t }}">
									{{ 'general.search.search' | t }}
									<span>
										{% render 'icon-button-arrow' %}
									</span>
								</button>
							</div>
							{%- if settings.predictive_search_enabled -%}
								<div class="color-background-1 predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
									<div class="predictive-search__loading-state">
										<svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
											<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
										</svg>
									</div>
								</div>

								<span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
							{%- endif -%}
						</div>
						{%- if  search.performed and search.results_count > 0 -%}
							<p class="search__form-text">{{ 'templates.search.showing_count' | t: count: search.results_count }}</p>
							
						{% endif %}

					{%- if  search.performed and search.results_count == 0 and search.filters == empty -%}
						<p class="search__form-text" role="status">{{ 'templates.search.no_results' | t: terms: search.terms }}
						</p>
					{%- endif -%}
					</form>
							
							{%- if  search.performed and search.results_count == 0 and search.filters == empty -%}
							</div>
						{% endif %}
					{%- if settings.predictive_search_enabled -%}
						</predictive-search>
					{%- endif -%}
		
				</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-404.name",
  "tag": "section",
  "settings": [
    {
			"type": "header",
			"content": "t:sections.all.section_margin.header.content"
		},
    {
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 20,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_bottom.label"
		}
  ]
}
{% endschema %}
