{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}

{%- style -%}
	{% render 'spaced-section' %}
{%- endstyle -%}

<div class="newsletter">
	<div class="container">
		<div class="newsletter__form content_position-{{ section.settings.position }}">
			<h3 class="newsletter__title h3 title--section title--section-m-none">
				{{ section.settings.heading }}
			</h3>
			{% form 'customer', class: 'newsletter-form' %}
				<div class="newsletter-form__inner">
					<input type="hidden" name="contact[tags]" value="newsletter">
					<div class="newsletter-form__field-wrapper">
						<div class="field">
							<input
								id="NewsletterForm--{{ section.id }}"
								type="email"
								name="contact[email]"
								class="field__input field"
								value="{{ form.email }}"
								aria-required="true"
								autocorrect="off"
								autocapitalize="off"
								autocomplete="email"
								{% if form.errors %}
									autofocus
									aria-invalid="true"
									aria-describedby="Newsletter-error--{{ section.id }}"
								{% elsif form.posted_successfully? %}
									aria-describedby="Newsletter-success--{{ section.id }}"
								{% endif %}
								placeholder="{{ 'newsletter.label' | t }}"
								required
							>
							<label
								class="field__label"
								for="NewsletterForm--{{ section.id }}"
								placeholder="{{ 'newsletter.label' | t }}"
								type="hidden"
							></label>
						</div>
						{%- if form.errors -%}
							<small
								class="newsletter-form__message form__message"
								id="Newsletter-error--{{ section.id }}"
							>
								{%- render 'icon-error' -%}
								{{- form.errors.translated_fields.email | capitalize }}
								{{ form.errors.messages.email -}}
							</small>
						{%- endif -%}
					</div>
					<button
						type="submit"
						class="newsletter__button button button--{{ section.settings.button_style }}"
						name="commit"
					>
						{{ 'newsletter.button_label' | t }}
						{% if section.settings.button_arrow == true %}
							<span>
								{% render 'icon-button-arrow' %}
							</span>
						{% endif %}
					</button>
					
				</div>
				{%- if form.posted_successfully? -%}
					<h3
						class="newsletter-form__message newsletter-form__message--success form__message"
						id="Newsletter-success--{{ section.id }}"
						tabindex="-1"
						autofocus
					>
						{% render 'icon-success' -%}
						{{- 'newsletter.success' | t }}
					</h3>
				{%- endif -%}
			{% endform %}
			<div class="newsletter__text">
				{{ section.settings.newsletter_text }}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.newsletter.name",
	"tag": "section",
	"class": "spaced-section",
	"enabled_on": {
    "templates": ["*"]
  },
	"settings": [
		{
			"type": "select",
			"id": "position",
			"options": [
				{
					"value": "left",
					"label": "t:sections.all.content_position.left.label"
				},
				{
					"value": "center",
					"label": "t:sections.all.content_position.center.label"
				},
				{
					"value": "right",
					"label": "t:sections.all.content_position.right.label"
				}
			],
			"default": "left",
			"label": "t:sections.all.content_position.label"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"default": "Heading for subscribe form",
			"label": "t:sections.all.heading.label"
		},
		{
			"type": "richtext",
			"id": "newsletter_text",
			"default": "<p>Additional text for subscribe form.</p>",
			"label": "t:sections.all.description.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.button.header.content"
		},
		{
			"type": "select",
			"id": "button_style",
			"options": [
				{
					"value": "primary",
					"label": "t:sections.all.button.style.options__1.label"
				},
				{
					"value": "secondary",
					"label": "t:sections.all.button.style.options__2.label"
				}
			],
			"default": "primary",
			"label": "t:sections.all.button.style.label"
		},
		{
			"type": "checkbox",
			"id": "button_arrow",
			"default": true,
			"label": "t:sections.all.button.arrow.label"
		},
		{
			"type": "paragraph",
			"content": "t:sections.newsletter.settings.paragraph.content"
		},
		{
			"type": "header",
			"content": "t:sections.all.section_margin.header.content"
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 20,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_top.label"
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 20,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_bottom.label"
		}
	],
	"presets": [
		{
			"name": "Newsletter"
		}
	]
}
{% endschema %}
