{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}

<script src="{{ "testimonials.js" | asset_url }}" defer="defer"></script>

{%- style -%}
	{% render 'spaced-section' %}
	{% render 'spaced-section-inner' %}
{%- endstyle -%}
{% liquid
	assign slide_effects = section.settings.slide_effects
	assign parallax = section.settings.parallax
	assign slideshow_speed = section.settings.slideshow_speed
	assign autoplay = section.settings.is_autoplay
	assign stop_autoplay = section.settings.is_hover_stop_autoplay
	assign slideshow_delay = section.settings.slideshow_delay
	assign image_size = section.settings.image_size

	case image_size
		when 'adapt'
			assign section_size = 'adapt'
		when 'small'
			assign section_size = '30vh'
		when 'medium'
			assign section_size = '60vh'
		when 'large'
			assign section_size = 'calc(100vh - var(--header-height) - var(--announcement-height))'
		else
			assign section_size = 'calc(100vh - var(--header-height) - var(--announcement-height))'
	endcase
%}
<div
	class="testimonials"
	data-id="shopify-section-{{ section.id }}"
	data-autoplay="{{ autoplay }}"
	data-stop-autoplay="{{ stop_autoplay }}"
	data-speed="{{ slideshow_speed }}"
	data-delay="{{ slideshow_delay }}"
	data-parallax="{{ parallax }}"
	data-effect="{{ slide_effects }}"
>
	<div class="testimonials__slider swiper">
		<div class="testimonials__wrapper swiper-wrapper">
			{%- for block in section.blocks -%}
				{% liquid
					assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio
					assign adapt_height = 1 | divided_by: block.settings.image.aspect_ratio | times: 100 | append: '%'
					if image_size == 'adapt'
						assign section_size = adapt_height
					endif
				%}
				{% style %}
					#slide-{{ block.id }} {
						--slide-overlay : rgba(var(--color-overlay), {{ block.settings.overlay_opacity }}%);
						--slide-height : {{ section_size }};
					}
				{% endstyle %}
				<div
					class="testimonials__slide swiper-slide {{ block.settings.color_scheme }} color_scheme {% if block.settings.overlay_enable %}have-overlay{% endif %}"
					data-color-scheme="{{ block.settings.color_scheme }}"
					id="slide-{{ block.id }}"
					{{ block.shopify_attributes }}
				>
					<div class="testimonials__block">
						{% if block.settings.image != blank %}
							<div class="testimonials__img">
								{{
									block.settings.image
									| image_url: width: 3840
									| image_tag:
										loading: 'lazy',
										width: block.settings.image.width,
										height: image_height,
										sizes: '100vw',
										widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
								}}
							</div>
						{% endif %}
						<div class="container">
							<div class="testimonials__text">
								{% if block.settings.subheading != blank %}
									<div
										class="testimonials__subtitle subtitle"
										data-swiper-parallax="-600"
									>
										{{ block.settings.subheading }}
									</div>
								{% endif %}
								{% if block.settings.enable_stars %}
									<div class="testimonials__slide-stars">
										{% for i in (1..5) %}
											{% liquid
												if i <= block.settings.rating
													assign active = true
												else
													assign active = false
												endif
											%}
											{% render 'icon-star', star_active: active %}
										{% endfor %}
									</div>
								{% endif %}
								{% if block.settings.text != blank %}
									<div
										class="testimonials__desc richtext__content h2"
										data-swiper-parallax="-800"
									>
										{{ block.settings.text }}
									</div>
								{% endif %}
								<div class="testimonials__author color-border-1">
									{% if block.settings.author_image != blank %}
										<div class="testimonials__author-img">
											{{
												block.settings.author_image
												| image_url: width: 120
												| image_tag:
													loading: 'lazy',
													sizes: '(min-width: 270px) 50vw, 100vw',
													widths: '30, 60, 90, 120'
											}}
										</div>
									{% endif %}
									{% if block.settings.author_position != blank
										or block.settings.author_name != blank
									%}
										<div class="testimonials__author-text {% if block.settings.author_image == blank %}text-center{% endif %}">
											{% if block.settings.author_position != blank %}
												<div class="testimonials__author-position subtitle">
													{{ block.settings.author_position }}
												</div>
											{% endif %}
											{% if block.settings.author_name != blank %}
												<div class="testimonials__author-name">
													{{ block.settings.author_name }}
												</div>
											{% endif %}
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{%- endfor -%}
		</div>
		{% if section.blocks.size > 1 and section.settings.show_arrows %}
			<div class="swiper-buttons__wrapper">
				<div class="container">
					<div class="swiper-buttons__box">
						<div class="swiper-button swiper-button-prev">
							<span>{% render 'icon-arrow' %}</span>
						</div>
						<div class="swiper-button swiper-button-next">
							<span>{% render 'icon-arrow' %}</span>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		{% if section.blocks.size > 1 and section.settings.show_bullets %}
			<div class="swiper-pagination"></div>
		{% endif %}
	</div>
</div>

{% schema %}
{
	"name": "t:sections.testimonials.name",
	"tag": "section",
	"class": "testimonials-section spaced-section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "select",
			"id": "image_size",
			"default": "large",
			"label": "t:sections.all.image.size.label",
			"options": [
				{
					"value": "adapt",
					"label": "t:sections.all.image.size.options__1.label"
				},
				{
					"value": "small",
					"label": "t:sections.all.image.size.options__2.label"
				},
				{
					"value": "medium",
					"label": "t:sections.all.image.size.options__3.label"
				},
				{
					"value": "large",
					"label": "t:sections.all.image.size.options__4.label"
				}
			]
		},
		{
			"type": "header",
			"content": "t:sections.all.slider_options.header.content"
		},
		{
			"type": "checkbox",
			"id": "is_autoplay",
			"default": true,
			"label": "t:sections.all.slider_options.slider_is_autoplay.label"
		},
		{
			"type": "checkbox",
			"id": "is_hover_stop_autoplay",
			"default": true,
			"label": "t:sections.all.slider_options.slider_hover_autoplay_stop.label"
		},
		{
			"type": "checkbox",
			"id": "show_arrows",
			"default": true,
			"label": "t:sections.all.slider_options.navigation.label"
		},
		{
			"type": "checkbox",
			"id": "show_bullets",
			"default": true,
			"label": "t:sections.all.slider_options.pagination.label"
		},
		{
			"type": "range",
			"id": "slideshow_speed",
			"min": 0,
			"max": 6,
			"step": 0.1,
			"default": 1.1,
			"unit": "s",
			"label": "t:sections.all.slider_options.speed.label"
		},
		{
			"type": "range",
			"id": "slideshow_delay",
			"min": 0,
			"max": 8,
			"step": 0.1,
			"default": 3,
			"unit": "s",
			"label": "t:sections.all.slider_options.delay.label"
		},
		{
			"type": "checkbox",
			"id": "parallax",
			"default": true,
			"label": "t:sections.all.slider_options.parallax.label"
		},
		{
			"type": "select",
			"id": "slide_effects",
			"options": [
				{
					"value": "slide",
					"label": "t:sections.all.slider_options.effects.options.options__1.label"
				},
				{
					"value": "fade",
					"label": "t:sections.all.slider_options.effects.options.options__2.label"
				},
				{
					"value": "coverflow",
					"label": "t:sections.all.slider_options.effects.options.options__3.label"
				},
				{
					"value": "creative",
					"label": "t:sections.all.slider_options.effects.options.options__4.label"
				},
				{
					"value": "flip",
					"label": "t:sections.all.slider_options.effects.options.options__5.label"
				}
			],
			"default": "slide",
			"label": "t:sections.all.slider_options.effects.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section_margin.header.content"
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 0,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_top.label"
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 0,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_bottom.label"
		}
	],
	"blocks": [
		{
			"type": "testimonials_slide",
			"name": "t:sections.testimonials.blocks.testimonials_slide.name",
			"settings": [
				{
					"type": "select",
					"id": "color_scheme",
					"options": [
						{
							"value": "color-background-1",
							"label": "t:sections.all.color_scheme.options__1.label"
						},
						{
							"value": "color-background-2",
							"label": "t:sections.all.color_scheme.options__2.label"
						},
						{
							"value": "color-background-3",
							"label": "t:sections.all.color_scheme.options__3.label"
						},
						{
							"value": "color-background-4",
							"label": "t:sections.all.color_scheme.options__4.label"
						},
						{
							"value": "color-background-5",
							"label": "t:sections.all.color_scheme.options__5.label"
						}
					],
					"default": "color-background-1",
					"label": "t:sections.all.color_scheme.label"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:sections.all.image.label"
				},
				{
					"type": "text",
					"id": "subheading",
					"label": "t:sections.all.subheading.label",
					"default": "Subheading"
				},
				{
					"type": "richtext",
					"id": "text",
					"default": "<p>“Description feedback from your buyers”</p>",
					"label": "t:sections.all.text.label"
				},
				{
					"type": "header",
					"content": "t:sections.testimonials.blocks.testimonials_slide.settings.rating_options.header.content"
				},
				{
					"type": "checkbox",
					"id": "enable_stars",
					"default": true,
					"label": "t:sections.testimonials.blocks.testimonials_slide.settings.rating_options.enable_stars.label"
				},
				{
					"type": "range",
					"id": "rating",
					"min": 1,
					"max": 5,
					"step": 1,
					"default": 5,
					"label": "t:sections.testimonials.blocks.testimonials_slide.settings.rating_options.review_score.label"
				},
				{
					"type": "header",
					"content": "t:sections.all.author.header.content"
				},
				{
					"type": "image_picker",
					"id": "author_image",
					"label": "t:sections.all.author.author_image.label"
				},
				{
					"type": "text",
					"id": "author_name",
					"default": "Buyer's name",
					"label": "t:sections.all.author.author_name.label"
				},
				{
					"type": "text",
					"id": "author_position",
					"default": "Buyer's position",
					"label": "t:sections.all.author.author_position.label"
				},
				{
					"type": "header",
					"content": "t:sections.all.overlay.header.content"
				},
				{
					"type": "checkbox",
					"id": "overlay_enable",
					"default": false,
					"label": "t:sections.all.overlay.overlay_enable.label"
				},
				{
					"type": "range",
					"id": "overlay_opacity",
					"min": 10,
					"max": 90,
					"default": 20,
					"unit": "%",
					"label": "t:sections.all.overlay.overlay_opacity.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.testimonials.presets.name",
			"blocks": [
				{
					"type": "testimonials_slide"
				},
				{
					"type": "testimonials_slide"
				},
				{
					"type": "testimonials_slide"
				}
			]
		}
	]
}
{% endschema %}
