{{ 'ticker.css' | asset_url | stylesheet_tag }}

<script src="{{ 'ticker.js' | asset_url }}" defer="defer"></script>
{% style %}
	{% render 'spaced-section' %}
	{% render 'spaced-section-inner' %}
{% endstyle %}
<div
	class="ticker section-{{ section.id }}-padding
	{% if section.settings.color_scheme == "light" %}color-background-2{% elsif section.settings.color_scheme == 'dark' %}color-background-4{% endif %} "
	data-date="{{ section.settings.date_picker }}"
	data-ticker-speed="{{ section.settings.ticker_speed }}"
	data-ticker-id="{{ section.id }}"
	style="padding-top: {{ section.settings.ticker_padding }}px; padding-bottom: {{ section.settings.ticker_padding }}px"
>
	<div class="swiper container ticker-js-{{ section.id }}">
		<div class="swiper-wrapper">
			{%- if section.settings.ticker_text != blank -%}
				{% for i in (1..100) %}
					<div class="swiper-slide">
						<div class="ticker__title">
							<h6 style="font-size: {{ section.settings.ticker_font }}px">
								{{ section.settings.ticker_text }}
							</h6>
						</div>
					</div>
				{% endfor %}
			{%- endif -%}
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.ticker.name",
	"tag": "section",
	"class": "ticker-section",
	"enabled_on": {
    "templates": ["*"]
  },
	"settings": [
		{
			"type": "select",
			"id": "color_scheme",
			"label": "t:sections.all.color_scheme.label",
			"default": "light",
			"options": [
				{
					"value": "light",
					"label": "t:sections.all.color_scheme.light.label"
				},
				{
					"value": "dark",
					"label": "t:sections.all.color_scheme.dark.label"
				}
			]
		},
		{
			"type": "inline_richtext",
			"id": "ticker_text",
			"default": "Some text",
			"label": "t:sections.ticker.settings.ticker_text.label"
		},
		{
			"type": "range",
			"id": "ticker_speed",
			"min": 0,
			"max": 6,
			"step": 0.1,
			"default": 5,
			"unit": "s",
			"label": "t:sections.ticker.settings.ticker_speed.label"
		},
		{
			"type": "range",
			"id": "ticker_font",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "t:sections.ticker.settings.ticker_font.label",
			"default": 14
		},
		{
			"type": "header",
			"content": "t:sections.all.section_padding.header.content"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 20,
			"unit": "px",
			"label": "t:sections.all.section_padding.padding_top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 20,
			"unit": "px",
			"label": "t:sections.all.section_padding.padding_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section_margin.header.content"
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 0,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_top.label"
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 0,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.ticker.presets.name"
		}
	]
}
{% endschema %}
