{{ 'section-video.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{% style %}
	 {% render 'spaced-section' %}
	#shopify-section-{{ section.id }} .video-section{
				--section-overlay : rgba(var(--color-overlay), {{ section.settings.overlay_opacity }}%);
			}
{% endstyle %}

<div class="video-section color-inverse {% if section.settings.full_width != true %}container{% endif %}">
	<noscript>
		<div
			class="video-section__media {% if section.settings.overlay_enable %}have-overlay{% endif %}"
			{% if section.settings.cover_image != blank %}
				style="padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;"
			{% endif %}
		>
			<a
				href="{{ section.settings.video_url }}"
				class="video-section__poster media media--transparent{% if section.settings.cover_image == blank %} video-section__placeholder{% endif %}"
			>
				{% if section.settings.cover_image != blank %}
					{% assign image_height = section.settings.cover_image.width
						| divided_by: section.settings.cover_image.aspect_ratio
					%}
					{{
						section.settings.cover_image
						| image_url: width: 3840
						| image_tag:
							loading: 'lazy',
							width: section.settings.cover_image.width,
							height: image_height,
							sizes: '100vw',
							widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
					}}
				{%- else -%}
					{{
						'collection-2'
						| placeholder_svg_tag: 'placeholder-svg placeholder'
					}}
				{%- endif -%}
				<div class="video-section__content">
					{% if section.settings.subheading != blank %}
						<div class="video-section__subheading subtitle">
							{{ section.settings.subheading | truncate: 30, '' | escape }}
						</div>
					{% endif %}

					{% if section.settings.heading != blank %}
						<h2 class="title title--section video-section__heading">
							{{ section.settings.heading | truncate: 30, '' | escape }}
						</h2>
					{% endif %}
					<span class="video-section__play-button">
						{% render 'icon-play' %}
					</span>
				</div>
			</a>
		</div>
	</noscript>
	<deferred-media
		class="video-section__media video-section__media--{{ section.settings.height }} video-section__media--{{ section.settings.video_fit }} deferred-media no-js-hidden {% if section.settings.overlay_enable %}have-overlay{% endif %}"
		data-media-id="{{ section.settings.video_url.id }}"
		{%- if section.settings.video_autoplay -%}
			data-autoplay="true"
		{%- endif -%}
		{% if section.settings.height == 'adapt'
			and section.settings.video != null
		%}
			style="padding-bottom: {{ 1 | divided_by: section.settings.video.aspect_ratio | times: 100 }}%"
		{% else %}
			style="aspect-ratio: {{ section.settings.height }};"
		{% endif %}
	>
		{%- if section.settings.video_autoplay != true -%}
			<button
				id="Deferred-Poster-Modal-{{ section.settings.video_url.id }}"
				class="video-section__poster media deferred-media__poster media--landscape"
				type="button"
			>
				<span class="video-section__overlay"></span>
				{%- if section.settings.cover_image != blank -%}
					{% assign image_height = section.settings.cover_image.width
						| divided_by: section.settings.cover_image.aspect_ratio
					%}
					{{
						section.settings.cover_image
						| image_url: width: 3840
						| image_tag:
							loading: 'lazy',
							width: section.settings.cover_image.width,
							height: image_height,
							sizes: '100vw',
							widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
					}}
				{%- else -%}
					{{
						'collection-2'
						| placeholder_svg_tag: 'placeholder-svg placeholder'
					}}
				{%- endif -%}
				<div class="video-section__content">
					{% if section.settings.subheading != blank %}
						<div class="video-section__subheading subtitle">
							{{ section.settings.subheading | truncate: 30, '' | escape }}
						</div>
					{% endif %}

					{% if section.settings.heading != blank %}
						<h2 class="title title--section video-section__heading">
							{{ section.settings.heading | truncate: 30, '' | escape }}
						</h2>
					{% endif %}
					<span class="video-section__play-button">
						{% render 'icon-play' %}
					</span>
				</div>
			</button>
		{% endif %}
		<template>
			{%- if section.settings.video == null
				and section.settings.video_url != null
			-%}
				{%- if section.settings.video_url.type == 'youtube' -%}
					<iframe
						src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1&autoplay=1{%- if section.settings.video_autoplay -%}&mute=1{%- endif -%}{%- if section.settings.video_autoplay != true and section.settings.video_muted -%}&mute=1{%- endif -%}{%- if section.settings.video_controls != true -%}&controls=0{%- endif -%}{%- if section.settings.video_loop -%}&playlist={{ section.settings.video_url.id }}&loop=1{%- endif -%}"
						class="js-youtube"
						allow="autoplay; encrypted-media"
						allowfullscreen
						title="{{ section.settings.description | escape }}"
					></iframe>
				{%- else -%}
					<iframe
						src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=true{%- if section.settings.video_autoplay -%}&muted=true{%- endif -%}{%- if section.settings.video_autoplay != true and section.settings.video_muted -%}&muted=true{%- endif -%}{%- if section.settings.video_controls != true -%}&controls=false{%- endif -%}{%- if section.settings.video_loop -%}&loop=true{%- endif -%}"
						class="js-vimeo"
						allow="autoplay; encrypted-media"
						allowfullscreen
						title="{{ section.settings.description | escape }}"
					></iframe>
				{%- endif -%}
			{%- else -%}
				{% liquid
					assign muted = section.settings.video_muted
					if section.settings.video_autoplay
						assign muted = true
					endif
				%}
				{{
					section.settings.video
					| video_tag:
						image_size: '1300x',
						autoplay: section.settings.video_autoplay,
						loop: section.settings.video_loop,
						controls: section.settings.video_controls,
						muted: muted
				}}
			{% endif %}
		</template>
	</deferred-media>
</div>

{% schema %}
{
	"name": "t:sections.video.name",
	"tag": "section",
	"class": "spaced-section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "full_width",
			"default": true,
			"label": "t:sections.video.settings.full_width.label"
		},
		{
			"type": "select",
			"id": "height",
			"options": [
				{
					"value": "1/1",
					"label": "t:sections.video.settings.height.options__1.label"
				},
				{
					"value": "3/2",
					"label": "t:sections.video.settings.height.options__2.label"
				},
				{
					"value": "4/3",
					"label": "t:sections.video.settings.height.options__3.label"
				},
				{
					"value": "16/9",
					"label": "t:sections.video.settings.height.options__4.label"
				},
				{
					"value": "21/9",
					"label": "t:sections.video.settings.height.options__5.label"
				},
				{
					"value": "adapt",
					"label": "t:sections.video.settings.height.options__6.label"
				}
			],
			"default": "16/9",
			"label": "t:sections.video.settings.height.label",
			"info": "t:sections.video.settings.height.info"
		},
		{
			"type": "select",
			"id": "video_fit",
			"label": "t:sections.video.settings.video_fit.label",
			"options": [
				{
					"value": "contain",
					"label": "t:sections.video.settings.video_fit.options__1.label"
				},
				{
					"value": "cover",
					"label": "t:sections.video.settings.video_fit.options__2.label"
				}
			],
			"default": "contain",
			"info": "t:sections.video.settings.video_fit.info"
		},
		{
			"type": "text",
			"id": "subheading",
			"default": "Subheading",
			"label": "t:sections.video.settings.subheading.label",
			"info": "t:sections.video.settings.subheading.info"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"default": "Heading for your video",
			"label": "t:sections.all.heading.label",
			"info": "t:sections.video.settings.heading.info"
		},
		{
			"type": "image_picker",
			"id": "cover_image",
			"label": "t:sections.video.settings.cover_image.label"
		},
		{
			"type": "header",
			"content": "t:sections.video.settings.header__1.content"
		},
		{
			"type": "video",
			"id": "video",
			"label": "t:sections.video.settings.video.label"
		},
		{
			"type": "header",
			"content": "t:sections.video.settings.header__2.content"
		},
		{
			"type": "paragraph",
			"content": "t:sections.video.settings.paragraph.content"
		},
		{
			"type": "video_url",
			"id": "video_url",
			"accept": ["youtube", "vimeo"],
			"default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
			"label": "t:sections.video.settings.video_url.label",
			"info": "t:sections.video.settings.video_url.info"
		},
		{
			"type": "checkbox",
			"id": "video_autoplay",
			"default": false,
			"label": "t:sections.video.settings.video_autoplay.label"
		},
		{
			"type": "checkbox",
			"id": "video_loop",
			"default": false,
			"label": "t:sections.video.settings.video_loop.label"
		},
		{
			"type": "checkbox",
			"id": "video_muted",
			"default": false,
			"label": "t:sections.video.settings.video_muted.label",
			"info": "t:sections.video.settings.video_muted.info"
		},
		{
			"type": "checkbox",
			"id": "video_controls",
			"default": true,
			"label": "t:sections.video.settings.video_controls.label"
		},
		{
			"type": "textarea",
			"id": "description",
			"label": "t:sections.video.settings.description.label",
			"info": "t:sections.video.settings.description.info"
		},
		{
			"type": "header",
			"content": "t:sections.all.overlay.header.content"
		},
		{
			"type": "checkbox",
			"id": "overlay_enable",
			"default": true,
			"label": "t:sections.all.overlay.overlay_enable.label"
		},
		{
			"type": "range",
			"id": "overlay_opacity",
			"min": 10,
			"max": 90,
			"default": 20,
			"unit": "%",
			"label": "t:sections.all.overlay.overlay_opacity.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section_margin.header.content"
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 20,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_top.label"
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 20,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.video.presets.name"
		}
	]
}
{% endschema %}
