{{ 'section-video-banner.css' | asset_url | stylesheet_tag }}

{%- liquid
	assign video_ratio = section.settings.video_ratio
-%}

{%- if video_ratio == 'adapt' and section.settings.video != blank -%}
	{%- style -%}
		@media screen and (min-width: 750px) {
		  #Banner-{{ section.id }}.video--overlay::before {
		    padding-bottom: {{ 1 | divided_by: section.settings.video.aspect_ratio | times: 100 }}%;
		    content: '';
		    display: block;
		  }
		}
		#Banner-{{ section.id }} .video-banner__media::before {
		  padding-bottom: {{ 1 | divided_by: section.settings.video.aspect_ratio | times: 100 }}%;
		  content: '';
		  display: block;
		}
	{%- endstyle -%}
{%- elsif video_ratio == 'adapt' and section.settings.video == blank -%}
	{%- style -%}
		@media screen and (min-width: 750px) {
		  #Banner-{{ section.id }}.video--overlay::before {
		    padding-bottom: 25%;
		    content: '';
		    display: block;
		  }
		}
		#Banner-{{ section.id }}.video-banner--no-video::before, #Banner-{{ section.id }} .video-banner__media::before {
		  padding-bottom: 25%;
		  content: '';
		  display: block;
		}
	{%- endstyle -%}
{%- endif -%}
{%- if video_ratio != 'adapt' %}
	{% assign aspect_ratio = section.settings.video_ratio | split: '/' %}
	{% assign temp = aspect_ratio[0] | append: '.0' %}
	{% assign padding_bottom = aspect_ratio[1]
		| divided_by: temp
		| times: 100
		| round: 2
	%}
	{%- style -%}
		@media screen and (min-width: 750px) {
		  #Banner-{{ section.id }}.video--overlay::before {
		    content: '';
		    display: block;
		    padding-bottom: {{ padding_bottom }}%;
		  }
		}

		#Banner-{{ section.id }}.video-banner--no-video::before, #Banner-{{ section.id }} .video-banner__media::before {
		  content: '';
		  display: block;
		  padding-bottom: {{ padding_bottom }}%;
		}
	{%- endstyle -%}
{%- endif -%}

{% style %}
	{% render 'spaced-section' %}
	#shopify-section-{{ section.id }} {
		--section-overlay : rgba(var(--color-overlay), {{ section.settings.overlay_opacity }}%);
	}
{% endstyle %}
<div class="video-banner {% if section.settings.full_width %}{% else %}container{% endif %}">
	<div
		id="Banner-{{ section.id }}"
		class="video-banner__content video--overlay {% if section.settings.full_width %}video-banner--container{% endif %} {%- if section.settings.video == blank -%} video-banner--no-video {% endif %} {{ section.settings.color_scheme }}"
	>
		{%- if section.settings.video != blank -%}
			<div class="video-banner__media media video-banner__media--{{- section.settings.video_fit -}}">
				{{
					section.settings.video
					| video_tag:
						image_size: '1100x',
						autoplay: true,
						loop: true,
						controls: false,
						muted: true
				}}
				<span
					class="video-banner__overlay {% if section.settings.overlay_enable %}have-overlay{% endif %}"
				></span>
			</div>
		{%- endif -%}
		<div class="video-banner__wrapper {% if section.settings.text_align != 'left' %}video-banner__column--center{% endif %} {% if section.settings.full_width %}container{% else %}{% endif %}">
			{%- if section.settings.subheading != blank -%}
				<div class="video-banner__subheading subtitle">
					{{ section.settings.subheading }}
				</div>
			{%- endif -%}
			<div class="video-banner__column video-banner__column--column">
				{%- if section.settings.heading != blank -%}
					<h2 class="video-banner__heading title--section title--decorate title--section-mt-none {% if section.settings.heading_size == 'medium' %}h2{% else %}h1{% endif %}">
						{{ section.settings.heading }}
					</h2>
				{%- endif -%}
				<div class="video-banner__information">
					{%- if section.settings.text_information != blank -%}
						<p class="video-banner__text">
							{{ section.settings.text_information | escape }}
						</p>
					{%- endif -%}
					{%- if section.settings.button_label != blank -%}
						<div class="video-banner__button">
							{% render 'button', layout: section %}
						</div>
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.video-banner.name",
	"tag": "section",
	"class": "video-banner-section spaced-section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "full_width",
			"default": true,
			"label": "t:sections.video-banner.settings.full_width.label"
		},
		{
			"type": "select",
			"id": "color_scheme",
			"default": "color-background-1",
			"label": "t:sections.all.color_scheme.label",
			"options": [
				{
					"value": "color-background-1",
					"label": "t:sections.all.color_scheme.options__1.label"
				},
				{
					"value": "color-background-2",
					"label": "t:sections.all.color_scheme.options__2.label"
				},
				{
					"value": "color-background-3",
					"label": "t:sections.all.color_scheme.options__3.label"
				},
				{
					"value": "color-background-4",
					"label": "t:sections.all.color_scheme.options__4.label"
				},
				{
					"value": "color-background-5",
					"label": "t:sections.all.color_scheme.options__5.label"
				}
			]
		},
		{
			"type": "text",
			"id": "subheading",
			"default": "Subheading",
			"label": "t:sections.video-banner.settings.subheading.label"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"default": "Some header for your collection",
			"label": "t:sections.all.heading.label"
		},
		{
			"type": "select",
			"id": "heading_size",
			"options": [
				{
					"value": "medium",
					"label": "t:sections.video-banner.settings.heading_size.options__1.label"
				},
				{
					"value": "large",
					"label": "t:sections.video-banner.settings.heading_size.options__2.label"
				}
			],
			"default": "medium",
			"label": "t:sections.video-banner.settings.heading_size.label"
		},
		{
			"type": "textarea",
			"id": "text_information",
			"default": "Some descriptive text for your collection. For better alignment, it is better to use text in several lines.",
			"label": "t:sections.video-banner.settings.text_information.label"
		},
		{
			"type": "select",
			"id": "text_align",
			"options": [
				{
					"value": "left",
					"label": "t:sections.video-banner.settings.text_align.options__1.label"
				},
				{
					"value": "center",
					"label": "t:sections.video-banner.settings.text_align.options__2.label"
				}
			],
			"default": "left",
			"label": "t:sections.video-banner.settings.text_align.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.button.header.content"
		},
		{
			"type": "text",
			"id": "button_label",
			"default": "Button label",
			"label": "t:sections.all.button.label.label"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "t:sections.all.button.link.label"
		},
		{
			"type": "select",
			"id": "button_style",
			"options": [
				{
					"value": "primary",
					"label": "t:sections.all.button.style.options__1.label"
				},
				{
					"value": "secondary",
					"label": "t:sections.all.button.style.options__2.label"
				}
			],
			"default": "primary",
			"label": "t:sections.all.button.style.label"
		},
		{
			"type": "checkbox",
			"id": "button_arrow",
			"default": true,
			"label": "t:sections.all.button.arrow.label"
		},
		{
			"type": "header",
			"content": "t:sections.video-banner.settings.header__2.content"
		},
		{
			"type": "video",
			"id": "video",
			"label": "t:sections.video-banner.settings.video.label"
		},
		{
			"type": "select",
			"id": "video_ratio",
			"options": [
				{
					"value": "1/1",
					"label": "t:sections.video-banner.settings.video_ratio.options__1.label"
				},
				{
					"value": "3/2",
					"label": "t:sections.video-banner.settings.video_ratio.options__2.label"
				},
				{
					"value": "4/3",
					"label": "t:sections.video-banner.settings.video_ratio.options__3.label"
				},
				{
					"value": "16/9",
					"label": "t:sections.video-banner.settings.video_ratio.options__4.label"
				},
				{
					"value": "21/9",
					"label": "t:sections.video-banner.settings.video_ratio.options__5.label"
				},
				{
					"value": "adapt",
					"label": "t:sections.video-banner.settings.video_ratio.options__6.label"
				}
			],
			"default": "adapt",
			"label": "t:sections.video-banner.settings.video_ratio.label"
		},
		{
			"type": "select",
			"id": "video_fit",
			"label": "t:sections.video-banner.settings.video_fit.label",
			"options": [
				{
					"value": "contain",
					"label": "t:sections.video-banner.settings.video_fit.options__1.label"
				},
				{
					"value": "cover",
					"label": "t:sections.video-banner.settings.video_fit.options__2.label"
				}
			],
			"default": "cover"
		},
		{
			"type": "header",
			"content": "t:sections.all.overlay.header.content"
		},
		{
			"type": "checkbox",
			"id": "overlay_enable",
			"default": true,
			"label": "t:sections.all.overlay.overlay_enable.label"
		},
		{
			"type": "range",
			"id": "overlay_opacity",
			"min": 10,
			"max": 90,
			"default": 20,
			"unit": "%",
			"label": "t:sections.all.overlay.overlay_opacity.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section_margin.header.content"
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 0,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_top.label"
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 0,
			"unit": "px",
			"label": "t:sections.all.section_margin.margin_bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.video-banner.presets.name"
		}
	]
}
{% endschema %}
